* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #f76c6c;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #f76c6c;
    font-size: 35px;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 12px;
    font-weight: bold;
    font-size: 18px;
}

section {
    padding: 60px;
}

.me{
    text-align: center;
    align-items: center;
    background: #a8d0e6;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bio-body {
    width: 900px;
    margin: 0;
    color: white;
    overflow: auto;
}

.bio-body img {
    width: 150px;
    height: 350px -50px;
    object-fit: cover;
    border: 5px solid white;
    width: 35%;
    float: left;
}

.bio-body h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.me article {
    align-self: center;
}

.cris-bio {
    margin-top: 80px;
}

.section-title {
    font-size: 50px;
    color: #f76c6c;
    margin-bottom: 25px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #f76c6c;
}

.projects-list{
    text-align: center;
    background: #24305e;
}

.ref {
    text-align: center;
    background: #a8d0e6;
}
.contact {
    text-align: center;
    background: #24305e;
}

.contact ul {
    list-style: none;
}

footer {
    color: #f76c6c;
}

.run-buddy {
    align-items: center;
    text-align: center;
}

.run-buddy img {
    width: 900px;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.projects-list .run-buddy a figcaption {
    text-decoration: none;
    color: #a8d0e6;
    font-size: 32px;
}

.robot-gladiators {
    margin: 0 500px 0 0;
}

.projects-list .robot-gladiators a figcaption {
    text-decoration: none;
    color: #a8d0e6;
    font-size: 32px;
    border-bottom: none;
}

a {
    text-decoration: none;
}